<footer class="footer container">
  <div class="region region-footer">
    <section id="block-block-1" class="block block-block clearfix">
      <div class="row">
        <div class="col-md-6">
          <h2>Follow Us</h2>
          <p><a href="https://www.facebook.com/MinnesotaDigitalLibrary"><span class="social social-facebook"></span></a> <a href="https://twitter.com/MnDigLib"><span class="social social-twitter"></span></a></p>
          <h2>Stay Connected</h2>
          <p>Stay connected with the latest news from the Minnesota Digital Library by <a href="https://mndigital.org/about/mdl-google-group">subscribing to our Google Group</a>.</p>
        </div>
        <div class="col-md-6 text-right">
          <h2>Contact Us</h2>
          <p><strong>Minnesota Digital Library</strong><br />University of Minnesota<br />15 Andersen Library<br />222 21st Avenue South<br />Minneapolis, MN 55455-0439<br /><span class="glyphicon glyphicon-earphone"></span> 612-624-4002<br /><span class="glyphicon glyphicon-earphone"></span> 800-462-5348<br /><span class="glyphicon glyphicon-envelope"></span> <a href="https://mndigital.org/about/contact-us">Send us a message</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="logos">
            <a href="http://www.legacy.leg.mn/">
              <%= image_tag('legacy-logo.png', class: "img-rounded", alt: "Clean Water Land and Legacy Amendment logo.") %></a>
              <a href="http://www.mnhs.org/">
                <%= image_tag('mnhs-logo.png', class: "img-rounded", alt: "Minnesota Historical Society logo.") %>
              </a>
              <a href="http://www.minitex.umn.edu/">
                <%= image_tag('minitex-logo.png', class: "img-rounded", alt: "Minitex logo.") %>
              </a>
              <a href="https://www.lib.umn.edu/">
                <%= image_tag('ulibs-logo.png', class: "img-rounded", alt: "University of Minnesota Libraries logo.") %>
              </a>
              <a href="http://dp.la/">
                <%= image_tag('dpla-logo-small.png', class: "img-rounded", alt: "Digital Public Library of America logo.") %>
              </div>
        </div>
      </div>
    </section>
  </div>
</footer>