<footer class="footer">
  <div class="region region-footer container">
    <section id="block-block-1" class="block block-block clearfix">
      <div class="row">
        <div class="col-xs-12 col-sm-4 footer-links">
          <h2>Quick Links</h2>
          <ul class="list-unstyled"><li class="facet-label icon-link"><a href="/">Home</a></li>
            <li class="facet-label icon-link"><a href="/about">About Minnesota Reflections</a></li>
            <li class="facet-label icon-link"><a href="https://news.minitex.umn.edu/tags/minnesota-reflections">Latest News</a></li>
			<li class="facet-label icon-link"><a href="https://mndigital.org/policies/online-privacy-statement">Online Privacy Statement</a></li>
            <li class="facet-label icon-link"><a href="https://mndigital.org/">Minnesota Digital Library</a></li>
            <li class="facet-label icon-link"><a href="http://immigrants.mndigital.org/">Minnesota's Immigrants</a></li>
            <li class="facet-label icon-link"><a href="http://dp.la/">Digital Public Library of America (DPLA)</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 footer-social">
          <h2>Follow Us</h2>
          <p><a href="https://www.facebook.com/MinnesotaDigitalLibrary"><img src="https://d1kue88aredzk1.cloudfront.net/facebook-128-black.png" alt="Facebook logo icon." /></a> <a href="https://twitter.com/MnDigLib"><img src="//mndigital.org/files/images/twitter-128-black.png" alt="Twitter logo icon." /></a></p>
          <h2>Stay Connected</h2>
          <p>Stay connected with the latest news from the Minnesota Digital Library by <a href="https://mndigital.org/about/mdl-google-group">subscribing to our Google Group</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-4 footer-contact">
          <h2>Contact Us</h2>
          <p><strong>Minnesota Digital Library</strong><br />University of Minnesota<br />15 Andersen Library<br />222 21st Avenue South<br />Minneapolis, MN 55455-0439<br /><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 612-624-4002<br /><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 800-462-5348<br /><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="https://mndigital.org/about/contact-us">Send us a message</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="logos">
              <a href="http://www.legacy.leg.mn/">
                <%= image_tag('legacy-logo.png', class: "img-rounded", alt: "Clean Water Land and Legacy Amendment logo.") %></a>
                <a href="http://www.mnhs.org/">
                  <%= image_tag('mnhs-logo.png', class: "img-rounded", alt: "Minnesota Historical Society logo.") %>
                </a>
                <a href="http://www.minitex.umn.edu/">
                  <%= image_tag('minitex-logo.png', class: "img-rounded", alt: "Minitex logo.") %>
                </a>
                <a href="https://www.lib.umn.edu/">
                  <%= image_tag('ulibs-logo.png', class: "img-rounded", alt: "University of Minnesota Libraries logo.") %>
                </a>
                <a href="http://dp.la/">
                  <%= image_tag('dpla-logo-small.png', class: "img-rounded", alt: "Digital Public Library of America logo.") %>
                </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>