<% if @document['coordinates_llsi']  %>
  <div class="col-sm-12">
    <div id="full_record_map"></div>
    <script>
      DrawMap("<%= title %>", "<%= id %>", "<%= type %>", <%= coordinates %>, <%= nearby_json %>);
    </script>
  </div>
<% end %>