<% if coordinates  %>
  <div class="col-sm-12">
    <div id="<%= map_id %>"></div>
    <script>
      DrawMap.default(
        "<%= title %>", "<%= id %>", "<%= type %>",
        <%= coordinates_json(@document['coordinates_llsi']) %>,
        <%= nearby_json(@document['coordinates_llsi']) %>,
        <%= map_id %>);
    </script>
  </div>
<% end %>