<% if coordinates  %>
  <div class="col-sm-12" data-turbolinks="false">
    <div id="<%= map_id %>"></div>
    <script>
      <% if with_popup %>
        MDLdrawMap.drawMapWithPopup(
          "<%= title %>",
          "<%= id %>",
          "<%= type %>",
          <%= coordinates_json(coordinates) %>,
          <%= nearby_json(coordinates) %>,
          <%= map_id %>);
      <% else %>
        MDLdrawMap.drawMap(
          <%= coordinates_json(coordinates) %>,
          <%= nearby_json(coordinates) %>,
          <%= map_id %>);
      <% end %>
    </script>
  </div>
<% end %>