<% if coordinates  %>
  <div class="col-sm-12">
    <div id="<%= map_id %>"></div>
    <script>
      <% if with_popup %>
        DrawMapWithPopup.default(
          "<%= title %>",
          "<%= id %>",
          "<%= type %>",
          <%= coordinates_json(coordinates) %>,
          <%= nearby_json(coordinates) %>,
          <%= map_id %>,
          "<%= initial_path %>");
      <% else %>
        DrawMap.default(
          <%= coordinates_json(coordinates) %>,
          <%= nearby_json(coordinates) %>,
          <%= map_id %>);
      <% end %>
    </script>
  </div>
<% end %>